.button {
  --black: #000000;
  --ch-black: #202020;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  border-radius: 8px;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 30px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 0.2s;
  background-color: var(--ch-black);
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: #3ad078;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    var(--ch-black) 0%,
    var(--eer-black) 10%,
    var(--night-rider) 11%,
    var(--ch-white) 15%,
    var(--night-rider) 74%,
    var(--eer-black) 80%,
    var(--ch-black) 76%
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button:after {
  filter: blur(10px);
}
