@font-face {
  font-family: 'HelveticaNeueBlack';
  src: url('../helvetica-neue/HelveticaNeueBlack.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueBlackItalic';
  src: url('../helvetica-neue/HelveticaNeueBlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('../helvetica-neue/HelveticaNeueBold.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueBoldItalic';
  src: url('../helvetica-neue/HelveticaNeueBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueHeavy';
  src: url('../helvetica-neue/HelveticaNeueHeavy.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueHeavyItalic';
  src: url('../helvetica-neue/HelveticaNeueHeavyItalic.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueItalic';
  src: url('../helvetica-neue/HelveticaNeueItalic.ttf') format('truetype'); /* Note: This is a .ttf file */
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../helvetica-neue/HelveticaNeueLight.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueLightItalic';
  src: url('../helvetica-neue/HelveticaNeueLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('../helvetica-neue/HelveticaNeueMedium.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueMediumItalic';
  src: url('../helvetica-neue/HelveticaNeueMediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueRoman';
  src: url('../helvetica-neue/HelveticaNeueRoman.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('../helvetica-neue/HelveticaNeueThin.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueThinItalic';
  src: url('../helvetica-neue/HelveticaNeueThinItalic.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('../helvetica-neue/HelveticaNeueUltraLight.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueUltraLightItalic';
  src: url('../helvetica-neue/HelveticaNeueUltraLightItalic.otf') format('opentype');
}

  
  * {
    font-family: 'HelveticaNeue', sans-serif;
  }
  