---
// Importer les styles
import './styles/badge.css';
---

<div class="shopify-badge">
  <p class="badge-text">
    <img style="max-width: 25px" src="/1er.png" alt="badge-premiere-agence-cro"/>
    <i style="margin-left: 10px">Agence Shopify de Montréal</i>
  </p>
  <a
    target="_blank"
    href="https://hellodarwin.com/fr/agences/agences-experts-shopify/montreal">
    <img
      class="badge-logo"
      src="./logo-hellodarwin.png"
      alt="Logo Shopify"
    />
  </a>
</div>