---
// src/pages/agenc-ui-uz.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/HeroUX.astro';
import CTASection from '../components/CTASection.astro';
import ClientLogos from '../components/ClientLogos.astro';
import UXProcess from '../components/UXProcess.astro';
import UXBenefits from '../components/UXBenefits.astro';
import UXTools from '../components/UXTools.astro';
import UXFAQ from '../components/UXFAQ.astro';
import CEOQuote from '../components/CEOQuote.astro';
import PourquoiCollaborer from '../components/PourquoiCollaborer.astro';
import UXAvisClients from '../components/UXAvisClients.astro';
import Vsl from '../components/vsl.astro';
---

<Layout 
title="Agence UI/UX | Optimisation de l’Expérience Utilisateur | LËC Media"
description="Améliorez l’expérience utilisateur de votre site e-commerce grâce à une approche UX sur mesure. Identifiez les points de friction et boostez vos conversions."
>
  <main>
    <Hero />
    <ClientLogos />
    <Vsl
    videoDesktop="/video/VSL-CRO.mp4"
    videoMobile="/video/VSL-CRO-TEL.mp4"
    poster="/images/video-thumbnail.jpg"
    autoplay={true}
    muted={true}
    loop={true}
    controls={true}
    className="hero-video"
    badgeText="Optimisation CRO - Test A/B - Audit"
  />
    <UXProcess />
    <CEOQuote />
    <UXBenefits />  
    <UXAvisClients />
    <UXTools />
    <PourquoiCollaborer />
    <UXFAQ />
    <CTASection />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    margin: 0 auto;
  }
</style>