---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/HeroCRO.astro';
import Features from '../components/Features.astro';
import Pricing from '../components/Pricing.astro';
import Benefits from '../components/Benefits.astro';
import Testimonials from '../components/Testimonials.astro';
import CTASection from '../components/CTASection.astro';
import ClientLogos from '../components/ClientLogos.astro';
import FAQ from '../components/FAQ.astro';
import CEOQuote from '../components/CEOQuote.astro';
import DataExpertise from '../components/DataExpertise.astro';
---

<Layout title="Abonnement CRO | Optimisation E-commerce | Boost de Conversion">
  <main>
    <Hero />
    <ClientLogos />
    <Benefits />
    <CEOQuote />
    <Features />
    <Pricing />
    <Testimonials />
    <DataExpertise />
    <CTASection />
    <FAQ />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    margin: 0 auto;
  }
</style>