---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/HeroCRO.astro';
import Features from '../components/Features.astro';
import Pricing from '../components/Pricing.astro';
import Benefits from '../components/Benefits.astro';
import Testimonials from '../components/Testimonials.astro';
import CTASection from '../components/CTASection.astro';
import ClientLogos from '../components/ClientLogos.astro';
import FAQ from '../components/FAQ.astro';
import CEOQuote from '../components/CEOQuote.astro';
import DataExpertise from '../components/DataExpertise.astro';
import Vsl from '../components/vsl.astro';
---

<Layout title="Abonnement CRO | Optimisation E-commerce | Boost de Conversion"
description="Améliorez votre taux de conversion e-commerce grâce à nos tests A/B scientifiques. Découvrez comment nous avons généré +47% de conversion en moyenne pour nos clients."
>
  <main>
    <Hero />
    <ClientLogos />
    <Vsl
      videoDesktop="/video/VSL-CRO.mp4"
      videoMobile="/video/VSL-CRO-TEL.mp4"
      poster="/images/video-thumbnail.jpg"
      autoplay={true}
      muted={true}
      loop={true}
      controls={true}
      className="hero-video"
      badgeText="Optimisation CRO - Test A/B - Audit"
    />
    <Benefits />
    <CEOQuote />
    <Features />
    <Pricing />
    <Testimonials />
    <DataExpertise />
    <CTASection />
    <FAQ />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    margin: 0 auto;
  }
</style>