---
// src/pages/agenc-ui-uz.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/HeroUX.astro';
import CTASection from '../components/CTASection.astro';
import ClientLogos from '../components/ClientLogos.astro';
import UXProcess from '../components/UXProcess.astro';
import UXBenefits from '../components/UXBenefits.astro';
import UXTools from '../components/UXTools.astro';
import UXFAQ from '../components/UXFAQ.astro';
import CEOQuote from '../components/CEOQuote.astro';
import PourquoiCollaborer from '../components/PourquoiCollaborer.astro';
import UXAvisClients from '../components/UXAvisClients.astro';
---

<Layout title="Abonnement CRO | Optimisation E-commerce | Boost de Conversion">
  <main>
    <Hero />
    <ClientLogos />
    <UXProcess />
    <CEOQuote />
    <UXBenefits />  
    <UXAvisClients />
    <UXTools />
    <PourquoiCollaborer />
    <UXFAQ />
    <CTASection />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    margin: 0 auto;
  }
</style>