---
// src/pages/creation-boutique-shopify.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/HeroCreation.astro';
import ClientLogos from '../components/ClientLogos.astro';
import ServicesCreationBoutique from '../components/ServicesCreationBoutique.astro';
import CreationProcess from '../components/CreationProcess.astro';
import Portfolio from '../components/Portfolio.astro';
import CTASection from '../components/CTASection.astro';
import FAQ from '../components/FAQ.astro';
---

<Layout title="Abonnement CRO | Optimisation E-commerce | Boost de Conversion">
  <main>
    <Hero />
    <ClientLogos />
    <ServicesCreationBoutique />
    <CreationProcess />
    <Portfolio />
    <CTASection />
    <FAQ />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    margin: 0 auto;
  }
</style>