---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
// import Hero from "../components/HomePage/Hero/Hero.astro";
// import ShopifyBadge from "../components/HomePage/Hero/ShopifyBadge.astro";
// import HeroContent from "../components/HomePage/Hero/HeroContent.astro";
// import NotificationList from "../components/HomePage/Hero/NotificationSystem/NotificationList.astro";
// import Notification from "../components/HomePage/Hero/NotificationSystem/Notification.astro";

---

<Layout title="Abonnement CRO | Optimisation E-commerce | Boost de Conversion">
  <main>
    <ul>
        <li><a href="./agence-cro">Agence CRO</a></li>
        <li><a href="./creation-boutique-shopify">Creation boutique shopify</a></li>
        <li><a href="./formation-intervention-entreprise-shopify">Formation en entreprise</a></li>
        <li><a href="./refonte-site-ecommerce">Refonte Shopify</a></li>
        <li><a href="./integration-3dvue">Integration 3Dvue</a></li>
        <li><a href="./blog">Les blogs</a></li>
        <li><a href="./avis-lec-media-agency-agence-cro">Les Avis</a></li>
        <li><a href="./agence-ui-ux">Agence UI UX</a></li>
        <li><a href="./ab-testing-ecommerce">A/B test</a></li>

    </ul>
  </main>
  <!-- <Hero>
    <ShopifyBadge />
    <HeroContent />
  </Hero>
  <NotificationList />  
</Layout> -->

<style>
  main {
    width: 100%;
    margin: 0 auto;
  }
</style>
